DerivedDataCache/
Intermediate/
Saved/
.idea/
.vsconfig
.vs/TheTrain/v17/.suo
Binaries/Win64/TheTrainEditor-Win64-DebugGame.target
Binaries/Win64/UnrealEditor-TheTrain.pdb
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.dll
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.pdb
Binaries/Win64/UnrealEditor-Win64-DebugGame.modules
*.sln
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_0.exe
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_0.exp
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_0.lib
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_0.pdb
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_1.exe
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_1.exp
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_1.lib
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_1.pdb
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_2.exe
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_2.exp
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_2.lib
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_2.pdb
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_3.exe
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_3.exp
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_3.lib
Binaries/Win64/UnrealEditor-TheTrain-Win64-DebugGame.patch_3.pdb
*.exe
*.exp
*.lib
*.pdb
Binaries/Win64/UnrealEditor-TheMaze-Win64-DebugGame.dll
.vs/TheMaze/v17/.suo
Binaries/Win64/TheMazeEditor-Win64-DebugGame.target
